
@{
    ViewBag.Title = "franchisebenefits";
    Layout = "~/Views/Shared/_webLayouts.cshtml";
}

<div class="container" style="background-color:white;">
    <br />
    <h2>Motivated Management</h2>

    <p style="font-size:15px;">
        Another stumbling block facing many entrepreneurs wanting to expand is finding and retaining good unit managers. All too often, a business owner spends months looking for and training a new manager, only to see them leave or, worse yet, get hired away by a competitor. And hired managers are only employees who may or may not have a genuine commitment to their jobs, which makes supervising their work from a distance a challenge.

        But franchising allows the business owner to overcome these problems by substituting an owner for the manager. No one is more motivated than someone who is materially invested in the success of the operation. Your franchisee will be an owner -- often with his life’s savings invested in the business. And his compensation will come largely in the form of profits.

        The combination of these factors will have several positive effects on unit level performance.
    </p>

    <h2>Speed of Growth</h2>
    <p style="font-size:15px;">
        Every entrepreneur I've ever met who's developed something truly innovative has the same recurring nightmare: that someone else will beat them to the market with their own concept. And often these fears are based on reality.

        The problem is that opening a single unit takes time. For some entrepreneurs, franchising may be 
        the only way to ensure that they capture a market leadership position before competitors encroach on their space,
         because the franchisee performs most of these tasks. Franchising not only allows the franchisor financial leverage, but also allows it to leverage human resources as well. Franchising allows companies to compete with much larger businesses so they can saturate markets before these companies can respond.
    </p>

    <h2>Ease of Supervision</h2>
    <p style="font-size:15px;">
        From a managerial point of view, franchising provides other advantages as well. For one, 
        the franchisor is not responsible for the day-to-day management of the individual franchise units. 
        At a micro level, this means that if a shift leader or crew member calls in sick in the middle of the night,
         they're calling your franchisee -- not you -- to let them know. And it's the franchisee’s responsibility to find a replacement or cover their shift. And if they choose to pay salaries that aren't in line with the marketplace, employ their friends and relatives, or spend money on unnecessary or frivolous purchases, it won't impact you or your financial returns. By eliminating these responsibilities,
         franchising allows you to direct your efforts toward improving the big picture.

    </p>
    <h2> Increased Profitability</h2>
    <p style="font-size:15px;">
        The staffing leverage and ease of supervision mentioned above allows franchise organizations to run in a highly profitable manner. Since franchisors can depend on their franchisees to undertake site selection, lease negotiation, local marketing, hiring, training, accounting, payroll, and other human resources functions (just to name a few), the franchisor’s organization is typically much leaner (and often leverages off the organization that's already in place to support company operations). So the net result is that a franchise organization can be more profitable.

        Unfortunately, it is difficult to quantify or prove this contention. This much we do know: Research done during the past 10 years shows top quartile franchisors put an average of 40 and 45.6 percent to the bottom line in 2001 and 2002 respectively. How many industries can you think of where net incomes in this range are even possible?

    </p>

    <h2>Improved Valuations</h2>
    <p style="font-size:15px;">

        The combination of faster growth, increased profitability, and increased organizational leverage helps account for the fact that franchisors are often valued at a higher multiple than other businesses. So when it comes time to sell your business, the fact that you're a successful franchisor that has established a scalable growth model could certainly be an advantage.

        When the iFranchise Group compared the valuation of the S&P 500 vs. the franchisors tracked in Franchise Times magazine in 2012, the average price/earnings ratio of franchise companies was 26.5, while the average P/E ratio of the S&P 500 was 16.7. This represents a staggering 59 percent premium to the S&P. Moreover, more than two-thirds of the franchisors surveyed beat the S&P ratio.
        </p>
    <br />  
</div>
<br/>