
@{
    ViewBag.Title = "OverView";
    Layout = "~/Views/Shared/_webLayouts.cshtml";
}

<div class="container" style="background-color:white;">
    <br />
    <h2>Why Us?</h2>

    <p style="font-size:15px;text-align:justify">
        Our mission is to enhance customer service of online merchants, boost their customer
        retention and increase their sales. We strive to improve the overall image of the online
        merchant and therefore stimulate growth of online shopping. We put our efforts to increase customer
        satisfaction when consumers deal with retailers, to enhance the interaction process when retailers communicate with
        consumers, and to streamline the problem resolution order in all possible ways
    </p>


    <br />
</div>

