
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Font & Icon -->
    <link rel="stylesheet" href="../AdminAsset/font/inter/inter.min.css">
    <link href="../AdminAsset/plugins/material-design-icons-iconfont/material-design-icons.min.css" rel="stylesheet">
    <link rel="icon" href="../AdminAsset/images/logoAMFC.jpeg">
    <!-- Plugins -->
    <!-- CSS plugins goes here -->
    <!-- Main Style -->
    <link rel="stylesheet" href="../AdminAsset/plugins/simplebar/simplebar.min.css">
    <link rel="stylesheet" href="../AdminAsset/css/style.min.css" id="main-css">
    <link rel="stylesheet" href="../AdminAsset/css/sidebar-gray.min.css" id="theme-css">
    <title>MDYOS ADMIN AREA-Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(document).bind('keydown', function (e) {
                if (e.which === 13) { // return
                    $('#btnlogin').trigger('click');
                }
            });
        });
        function LogIntoAccount() {

            if ($('#txtUserName').val() == '') {
                alert('Please Enter User Name!');
                $('#txtUserName').focus();
                return;
            }
            if ($('#txtPassword').val() == '') {
                alert('Please Enter your Password!');
                $('#txtPassword').focus();
                return;
            }
            var dataobject = {
                UserName: $("#txtUserName").val(),
                Password: $("#txtPassword").val()
            };
            $("#showSpinner").show();
            $.ajax({
                url: "/Account/GetLogInDetails",
                type: "POST",
                contentType: false,
                processData: false,
                //data: dataobject,
                data: JSON.stringify(dataobject),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    if (r.strId == '1') {
                        window.location.href = '../AdminDashboard/Index'
                    }
                    if (r.strId == '2') {
                        window.location.href = '../Vender/Index'
                    }

                    if(r.strId=='0')
                    {
                        alert('Invalid User Name or Passwrod !!!');
                        $("#showSpinner").hide();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('Please Check values Entered by you !!!');
                    $("#showSpinner").hide();
                }
            });
        }

    </script>
</head>
<body class="login-page">
    <my-spinner>
        <div ng-show="showSpinner" class="nexo-overlay ng-hide" style="width: 100%; height: 100%; background: rgba(255, 255, 255, 0.9); z-index: 5000; position: absolute; top: 0px; left: 0px;display:none" id="showSpinner">
            <div class="spinner-border text-success" role="status" style="position: absolute; top: 30%; left: 50%; margin-top: -25px; margin-left: -25px;"></div>
        </div>
    </my-spinner>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-7 col-xl-8 d-none d-lg-block" style="text-align:center">

                <h1 style="margin-top: 6px;font-size: 42px;color: #5c95ff;font-weight: bold;"> Wow Jinn</h1><br /><br />
                <img src="/WebAssets/assets/images/ezgif-3-b5174919c0cf.gif" style="height:60%" />
            </div>
            <div class="col-lg-5 col-xl-4 d-flex justify-content-center align-items-start">
                <div class="card mb-3">
                    <div class="card-body p-4">
                        <h3>Log In</h3>
                        <p class="font-weight-light text-secondary">Welcome! Please login to continue.</p>
                        <hr>

                        <div class="form-group">
                            <label class="font-size-sm" for="InputEmail">User Name</label>
                            <input type="email" class="form-control bg-gray-200 border-gray-200" id="txtUserName" placeholder="Enter Username" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label class="font-size-sm" for="InputPassword">Password</label>
                            <input type="password" class="form-control bg-gray-200 border-gray-200" id="txtPassword" placeholder="Enter your password">
                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center" style="display:none">
                            @*<div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="remember">
                                    <label class="custom-control-label" for="remember">Remember me</label>
                                </div>
                                <a href="forgot-password.html" class="text-primary text-decoration-underline small">Forgot password ?</a>*@
                        </div>
                        <button type="button" class="btn btn-primary btn-block" id="btnlogin" onclick="LogIntoAccount()">LOG IN</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Plugins -->
    <!-- JS plugins goes here -->



</body>
</html>
