@{ 
    Layout = null;
}

<ul class="second-nav">
    <li><a href="../Home/Index"><i class="icofont-smart-phone mr-2"></i> Home</a></li>
    <li>
        <a href="#"><i class="icofont-login mr-2"></i> Authentication</a>
        <ul>
            <li><a class="dropdown-item" href="javascript:void(0);">Sign In</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);">Sign Up</a></li>            
        </ul>
    </li>    
    <li><a class="dropdown-item" href="javascript:void(0);">Cart</a></li>
    <li><a class="dropdown-item" href="javascript:void(0);">Wish List</a></li>
    
    <li>
        <a href="#"><i class="icofont-sub-listing mr-2"></i> My Order</a>
        <ul>
            <li><a class="dropdown-item" href="javascript:void(0);">My order</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);">Status Complete</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);">Status on Process</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);">Status Canceled</a></li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="icofont-ui-user mr-2"></i> My Account</a>
        <ul>
            <li><a class="dropdown-item" href="javascript:void(0);">My account</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);">Promos</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);">My address</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);">Terms & conditions</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);">Help & support</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);">Help ticket</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);">Logout</a></li>
        </ul>
    </li>   
</ul>
<ul class="bottom-nav">
    <li class="email">
        <a class="text-success" href="../webhome/index">
            <p class="h5 m-0"><i class="icofont-home text-success"></i></p>
            Home
        </a>
    </li>
    <li class="github">
        <a href="javascript:void(0);#">
            <p class="h5 m-0"><i class="icofont-cart"></i></p>
            CART
        </a>
    </li>
    <li class="ko-fi">
        <a href="javascript:void(0);">
            <p class="h5 m-0"><i class="icofont-headphone"></i></p>
            Help
        </a>
    </li>
</ul>