@model MDYOS.Models.PropertyClass
@{
    Layout = null;
}
@using System.Data;
<div class="ps-component ps-component--category">
    <div class="component__header">
        <h3 class="component__title">Top Categories</h3><a class="component__view" href="shop-categories.html">View all <i class="icon-chevron-right"></i></a>
    </div>
    <div class="component__content">
        <div class="owl-carousel" data-owl-auto="true" data-owl-loop="true" data-owl-speed="15000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="8" data-owl-item-xs="3" data-owl-item-sm="3" data-owl-item-md="5" data-owl-item-lg="8" data-owl-duration="1000" data-owl-mousedrag="on">
            <div class="ps-category__item"><a href="shop-categories.html"><img class="ps-categories__thumbnail" src="../webcontent/img/products/01-Fresh/01_16a.jpg" alt></a><a class="ps-categories__name" href="shop-categories.html">Fresh </a></div>
            <div class="ps-category__item"><a href="shop-categories.html"><img class="ps-categories__thumbnail" src="../webcontent/img/products/02-FoodCupboard/02_19a.jpg" alt></a><a class="ps-categories__name" href="shop-categories.html">Food Cupboard </a></div>
            <div class="ps-category__item"><a href="shop-categories.html"><img class="ps-categories__thumbnail" src="../webcontent/img/products/03-Bakery/03_6a.jpg" alt></a><a class="ps-categories__name" href="shop-categories.html">Barkery </a></div>
            <div class="ps-category__item"><a href="shop-categories.html"><img class="ps-categories__thumbnail" src="../webcontent/img/products/05-ReadyMeals/05_2a.jpg" alt></a><a class="ps-categories__name" href="shop-categories.html">Ready Meals </a></div>
            <div class="ps-category__item"><a href="shop-categories.html"><img class="ps-categories__thumbnail" src="../webcontent/img/products/06-SoftDrinks-TeaCoffee/06_9a.jpg" alt></a><a class="ps-categories__name" href="shop-categories.html">Drinks, Tea &amp; Coffee </a></div>
            <div class="ps-category__item"><a href="shop-categories.html"><img class="ps-categories__thumbnail" src="../webcontent/img/products/07-Beer-WineSpirits/07_1a.jpg" alt></a><a class="ps-categories__name" href="shop-categories.html">Beer, Wine &amp; Spirits </a></div>
            <div class="ps-category__item"><a href="shop-categories.html"><img class="ps-categories__thumbnail" src="../webcontent/img/products/08-BabyChild/08_5a.jpg" alt></a><a class="ps-categories__name" href="shop-categories.html">Baby &amp; Child </a></div>
            <div class="ps-category__item"><a href="shop-categories.html"><img class="ps-categories__thumbnail" src="../webcontent/img/products/04-FrozenFoods/04_2a.jpg" alt></a><a class="ps-categories__name" href="shop-categories.html">Frozen Foods </a></div>
            <div class="ps-category__item"><a href="shop-categories.html"><img class="ps-categories__thumbnail" src="../webcontent/img/products/09-KitchenDining/09_11a.jpg" alt></a><a class="ps-categories__name" href="shop-categories.html">Kitchen &amp; Dining </a></div>
        </div>
    </div>
</div>